body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main {
    flex: 1;
    display: flex;
}

.left {
    flex: 1;
    background-color: rgb(153, 119, 74);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.right {
    flex: 1;
    background-color: rgb(182, 132, 67);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.white-box {
    width: 95%;  
    height: 47%;  
    background-color: rgb(202, 240, 255);
}

.footer {
    height: 13%;
    background-color: grey;
}
